.epicCard-grid-container {
    grid-template-columns: repeat(2, minmax(5px, 1fr));
    justify-items: center;
    flex-direction: row;
    border: 2px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
   }

.epic-card-wrapper {
    grid-template-columns: repeat(2, minmax(5px, 1fr));
    display: grid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    /* Hide any content that goes outside the square */
    text-overflow: ellipsis;
}

.epic-card-wrapper-active {
    border-color: #007bff;
    background-color: #e6f7ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.epic-card-wrapper h5 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.epic-card-wrapper p {
    font-size: 0.8em;
    color: #555;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}